.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 16px;
  justify-content: center;

  margin: 92px 48px 0;
  padding: 0;
}

@media screen and (1024px <= width < 1280px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
    grid-gap: 14px;
  }
}

@media screen and (768px <= width < 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    grid-gap: 16px;
    margin: 88px 24px 0;
  }
}

@media (width < 768px) {
  .photo-grid {
    grid-template-columns: minmax(auto, 460px);
    grid-template-rows: auto;
    grid-gap: 12px;
    margin: 64px 16px 0;
  }
}