.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;

  padding: 56px 148px 0;
  margin: 0 auto;
}

@media screen and (1024px <= width < 1280px) {
  .lead {
    padding: 48px 48px 0;
  }
}

@media screen and (768px <= width < 1024px) {
  .lead {
    padding: 48px 0 0;
  }
}

@media screen and (width < 768px) {
  .lead {
    padding: 48px 0 0;
  }
}