.photo-grid__item {
  width: 100%;

  background-position: center;
  background-size: cover;
}

@media screen and (1280px <= width) {
  .photo-grid__item {
    width: 284px;
    height: 213px;
  }
}

@media screen and (1024px <= width < 1280px) {
  .photo-grid__item {
    width: 300px;
    height: 225px;
  }
}

@media screen and (768px <= width < 1024px) {
  .photo-grid__item {
    width: 352px;
    height: 264px;
  }
}

@media (width < 768px) {
  .photo-grid__item {
    width: 100%;
    aspect-ratio: 288 / 216;
  }
}