.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;

  margin: 0 auto;
  padding: 28px 48px 0;
}

@media (768px <= width < 1024px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media (width < 768px) {
  .header {
    padding: 16px 16px 0;
  }
}