.header__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  text-align: right;
  text-decoration-line: none;

  color: #FFFFFF;

  margin: 0 0 0 18px;
  padding: 0;
}

.header__link:first-child {
  margin: 0;
}

@media (width < 768px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}