.footer__links {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  gap: 18px;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

@media (width < 768px) {
  .footer__links {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}