.place__paragraph {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;  
  color: #FFFFFF;

  padding: 0;
  margin: 0 0 26px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media (width < 768px) {
  .place__paragraph {
    margin: 0 16px 26px;
  }

  .place__paragraph:last-child {
    margin: 0 16px;
  }
}