.intro {
  max-width: 1280px;
  
  margin: 92px auto 0;
  padding: 0 148px;
}

@media (1024px <= width < 1280px) {
  .intro {
    padding: 0 48px;
  }
}

@media (768px <= width < 1024px) {
  .intro {
    margin: 88px auto 0;
    padding: 0 24px;
  }
}

@media (width < 768px) {
  .intro {
    margin: 64px auto 0;
    padding: 0 16px;
  }
}