.cover {
  display: flex;
  justify-content: center;
  max-width: 1184px;

  margin: 92px auto 0;
  padding: 0 48px;
}

@media screen and (768px <= width < 1280px) {
  .cover {
    margin: 92px auto 0;
    padding: 0;
  }
}

@media screen and (width < 768px) {
  .cover {
    margin: 66px auto 0;
    padding: 0;
  }
}