.cover__overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url(../../../images/dmitrii-vaccinium-22833-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 0;
  text-decoration: none;

  width: 100%;
  height: 100%;
  max-width: 1184px; 
  max-height: 740px;
  aspect-ratio: 1184 / 740;

  margin: 0;
  padding: 0 16px;
}

.cover__overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  opacity: 0.5;
  z-index: -1;
  transition: opacity 0.2s ease-in-out;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}